<div id="<%= dom_id service %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Chamado:</strong>
    <%= service.call.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= service.status.humanize %>
  </p>

</div>
