<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Services" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Serviços</h1>
    <div class="ml-auto flex space-x-4">
      <%= link_to "Novo Serviço", new_service_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <%= button_to "Visualizar Kanban", kanban_path, method: :get, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  </div>
  

  <div id="services" class="min-w-full">
    <% @services.each do |service| %>
      <%= render service %>
    <% end %>
  </div>
</div>
