<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Título
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Descrição
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Custo
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr>
        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
          <%= call.title %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          <%= call.description %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          <%= number_to_currency(call.price, unit: "R$", delimiter: ".", format: "%u %n") %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
