<div id="<%= dom_id call %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Titulo:</strong>
    <%= call.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descrição:</strong>
    <%= call.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Custo:</strong>
    <%= call.price %>
  </p>

</div>
