<div class="container">
  <div class="home-page">
    <%= image_tag("logo_cliente.png", alt: "Meu Logo", class: "logo-cliente", id: "logo-principal") %>
    <%= button_to 'Entrar', new_user_session_path, method: :get, class: "button-home" %>
    <%= button_to 'Cadastrar', new_user_registration_path, method: :get, class: "button-home" %>
  </div>
</div>
