/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.home-page {
  width: 30vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  background-color: blue;
  border-radius: 50px;
  color: white;
}

.logo-cliente {
  width: 18rem;
  height: 13rem;
  margin-bottom: 2rem;
}

.button-home {
  width: 9rem;
  height: 3rem;
  margin-top: 1rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.button-home:hover {
  background-color: lightgray; 
}
.titulo {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.button-escolha {
  width: 20rem;
  height: 8rem;
  background-color: blue;
  color: white;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.button-escolha:hover {
  background-color: darkblue;
}

.sair-container {
  text-align: center;
}

.sair {
  width: 10rem;
  height: 3rem;
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sair:hover {
  background-color: gray;
}
